.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  font-family: "Segoe UI", sans-serif;
}

.topbar-left {
  display: flex;
  align-items: center;
  
}

.topbar-logo {
  height: 40px;
}

.topbar-menu {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}

.topbar-link {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 10px;
  font-family: "Segoe UI", sans-serif;
}

.topbar-link:hover,
.topbar-link.active {
  color: #e7c8c8;
}

.drop-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.topbar-dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 52px;
  left:0px;
  width: 240px;
  background: #1b1b1b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 22px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
  border-top: 2px solid #e87514;
  border-radius: 0 0 8px 8px;
  animation: fadeIn 0.25s ease-in-out;
  font-family: "Segoe UI", sans-serif;
}

.dropdown-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-column h4 {
  margin-bottom: 10px;
  color: #e87514;
  font-weight: 600;
  font-size: 16px;
}

.dropdown-column a {
  color: #ccc;
  text-decoration: none;
  margin: 4px 0;
  transition: color 0.2s ease;
}

.dropdown-column a:hover {
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.lang-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
}

.lang-sep {
  color: #999;
}

body {
  background: #f8fafc;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #1e293b;
}